body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:52px;
  top:300px;
  width:287px;
  height:320px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:320px;
}
#u2 {
  position:absolute;
  left:2px;
  top:152px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:75px;
  top:337px;
  width:242px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:75px;
  top:374px;
  width:242px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:75px;
  top:411px;
  width:242px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:75px;
  top:448px;
  width:242px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:75px;
  top:560px;
  width:242px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:75px;
  top:68px;
  width:243px;
  height:122px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:122px;
}
#u9 {
  position:absolute;
  left:2px;
  top:53px;
  width:239px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:220px;
  width:333px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:75px;
  top:486px;
  width:242px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:75px;
  top:522px;
  width:242px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:372px;
  top:337px;
  width:468px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:372px;
  top:374px;
  width:468px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:372px;
  top:411px;
  width:468px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:372px;
  top:448px;
  width:468px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:29px;
  top:950px;
  width:1280px;
  height:230px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:230px;
}
#u20 {
  position:absolute;
  left:2px;
  top:107px;
  width:1276px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:533px;
  top:548px;
  width:146px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
